[alias]
    #Log aliases
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    
    #Commit aliases
    ca = commit -am
    ca-edit = commit --amend -m
    ca-noedit = commit --amend --no-edit

    #Branch and checkout aliases
    co = checkout
    co-b = checkout -b

    #Stash aliases
    ss = stash save
    sp = stash pop
    sl = stash list
    sa = stash apply